.signup-input-box {
    display: block;
    width: 400px;
    border: 2px solid rgb(229, 213, 42);
    padding: 10px 15px;
    font-size: 20px;
    margin: auto;
    border-radius: 10px;
    margin-top: 5px;
}

.signup-page-base {
    background-color: rgb(255, 254, 244);
    height: 584px;
}

.signup-main {
    background-color: rgb(244, 242, 221);
    padding: 20px;
    border-radius: 10px;
}

.signup-button {
    border: 0;
    background-color: rgb(243, 236, 153);
    padding: 10px 25px;
    font-size: 25px;
    margin: 10px;
    border-radius: 10px;
}

input::-webkit-inner-spin-button {
    appearance: none;
}